<!--panel-heading-->
<!--panel-title-->
<!--accordion-toggle-->

<!--panel-collapse collapse-->
<!--panel-body-->
<div class={{panelHeaderClasses}}>
    <h4 class={{panelTitleClasses}} style="cursor: pointer;">
        <a class={{panelTogglerClasses}}>
            {{view.title}}
        </a>
    </h4>
</div>
<div class={{panelBodyContainerClasses}}>
    <div class={{panelBodyClasses}}>{{yield}}</div>
</div>
